*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;

}
.container{
    width: 1300px;
    margin: auto;

}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;

}
.text-right{
    text-align: right;
    
}
.clear::after{
    content: "";
    clear: both;
    display: block;

}
.left{
    float: left;
}
.right{
    float: right;
}

/* header section */
.header{
    background: #000100;
    padding: 10px 0;
}
.header-logo{
    width: 30%;
}

.header-logo img{
    width: 100px;
}

.header-manu{
    width: 70%;

}
.header-manu ul{
    text-align: right;
    margin-bottom: 0;

}
.header-manu ul li{
    display: inline-block;
    padding: 22px 25px;
    
}
.header-manu ul li a {
	display: inline-block;
	color: white;
	font-size: 20px;
	text-decoration: none;
	
	border-bottom: 2px solid transparent;

    transition: .5s;
    
}


.header-manu ul li a:hover{
    border-bottom: 2px solid white;
}


/* Dropdown manu */
.header-manu ul li ul li:hover{
    background: white;

}
.header-manu ul li ul li:hover a{
    color: black;
    border-bottom:2px solid black ;
}
.header-manu ul li{
    position: relative;

}
.header-manu ul li ul{
    position: absolute;
    top: 113%;
    left: 0;
    width: 200px;
    background: #000;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: .5s;

}
.header-manu ul li:hover ul{
    opacity: 1;
    visibility: visible;
}
.header-manu ul li ul li{
    display: block;

}

.header-manu i {
	margin-left: 5px;
	font-size: 30px;
	
	display: inline-block;
	position: relative;
	top: -3px;
}


/* banner  section */
.banner{
    background-image: url(https://i.ibb.co/6DzR5fV/a0c6042d4612d7adf44692fffac7e082.jpg);
    padding: 380px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-text h1 {
	font-size: 50px;
    margin-top: -96px;
    font-weight: 600;
}
.banner-text p {
	font-weight: bold;
	font-size: 30px;
	margin-top: 35px;
}
.banner-text a {
	background: white;
	font-size: 30px;
	color: black;
	text-decoration: none;
	padding: 10px 44px;
	border-radius: 10px;
	border: 1px solid black;
	z-index: 9;
	display: inline-block;
	transition: .5s;
	margin-top: 111px;
	margin-right: 24px;
}
.banner-text a:hover{
    background: black;
    color: white;
    z-index: -1;
}
/* about section */
.about {
	background: #859e6f;
	padding: 40px 0;
}

.about-text{
    width: 40%;

}
.about h1 {
	text-align: center;
	color: white;
	font-size: 56px;
	font-weight: 600;
}
.about-text p{

}
.about-image{

    width: 60%;

}
.about-image img {
	width: 350px;
	margin-left: 353px;
	margin-top: 45px;
}
.about-text p {
	color: white;
	margin-top: 71px;
	text-align: left;
	font-size: 18px;
	line-height: 28px;
}
/* quality section */

.quality{
    background: #808080;
    padding: 50px 0;
}
.quality-text h1{
    color: white;
    text-align: center;
    font-size: 50px;

}
.quality-text h2 {
	color: white;
	text-align: center;
	font-size: 30px;

	margin: 10px 0;
}
.quality-text P {
	color: white;
	text-align: center;
	width: 772px;

	margin: 38px auto;
	font-size: 20px;
}



.quality-box-1 {
        width: 30%;
        border-radius: 10px;
        box-sizing: border-box;
        background: white;
        padding: 47px 30px;
        margin-right: 5px;
        margin-bottom: 10px;
        
}

.quality-box-2{
    width: 30%;
    border-radius: 10px;
    box-sizing: border-box;
    background: white;
    padding: 47px 30px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 41px;
}
.quality-box-3{
    width: 30%;
    border-radius: 10px;
    box-sizing: border-box;
    background: white;
    padding: 47px 30px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 42px;
}

.quality-icon{

}
.quality-icon{
  float: left;
width: 30%;
 
}
.quality-content{
    float: right;
    width: 70%;
  

}
.quality-text h1{
    position: relative;


}
.quality-text h1::before {
	content: "";
	height: 2px;
	width: 235px;
	position: absolute;
	top: 100%;
	left: 534px;
	background: white;
}
.quality-content h2{
color: black;

}
.quality-content P{
    color: #b6c0ca;

}
/* card section */

.card{
    background:#86a270 ;
    padding: 50px;
}
.card h2{
    text-align: center;
    color: white;
font-size: 40px;
    margin: ;
    margin-top: 18px;
}
.card p {
	color: white;
	font-size: 20px;
	text-align: center;
	
	margin-bottom: 110px;
	margin-top: 18px;
}
.card-1{
    width: 45%;
    border: 1px solid white;
    text-align: center;
    
}
.card-1 a img {
	width: 586px;
	height: auto;
	text-align: center;
}
	
.card-1 h3 {
	padding: 20px 0;
	width: 80%;
	margin: auto;
	color: #587280;
}
.card-1 span {
	color: white;
	text-align: center;
	padding: ;
	padding-bottom: 29px;
	display: inline-block;
	font-size: 20px;
}

.photos{

}
.photos-1{
    width: 24%;
}
.photos-1 img {
	margin-left: 40px;
	margin-top: 73px;
}
.teams{
    background: #5b9675;
    padding: 50px 0;
}
.teams h1 {
	text-align: center;
	color: white;
	font-size: 40px;
    position: relative;

}
.teams h1::before {
	content: "";
	height: 2px;
	width: 265px;
	position: absolute;
	top: 120%;
	left: 523px;
	background: white;
}
.smart-boy img{
    margin-top: 77px;
}

.icon-div{

    text-align: center;
}
.icon-div li {
    display: inline-block;
 

}
.icon-div li a{
    font-size: 40px;

    color: white;
    margin-left: 30px;
    margin-top: 10px;
    display: inline-block;
    transition: .5s;
}
.icon-div li:hover a{
    color: yellow;

}
.smart-boy{
    width: 30%;
    margin-left: 30px;
}
.work{
    background:#606a64 ;
    padding: 100px 0;
}
.work h1 {
	color: white;
	text-align: center;
	font-size: 45px;
}
.work p {
	color: white;
	width: 800px;

	margin: auto;
}
.work a {
	color: white;
	text-decoration: none;
	background: #01bb9b;
	padding: 10px 28px;
	display: inline-block;
	border-radius: 10px;
	margin: auto;
	margin-left: 10;
	margin-left: 579px;
	margin-top: 37px;
    transition: .5s;
}
.work a:hover{
    background:#2d7f8f ;
}

.footer {
	background: #000000;
	padding: 22px 0;
}
.footer p{
    color: white;
    text-align: center;
}
